name: aws-deploy

on: push

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0
  sceptre-sandbox:
    runs-on: ubuntu-latest
    needs: pre-commit
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Install wget
        run: sudo apt-get install wget
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_SERVICE_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_SERVICE_USER_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::841415736403:role/nlp-sandbox-ci-service-account-ServiceRole-1KF7Q6FCOOQRE
          role-duration-seconds: 1200
      - name: Deploy common templates
        uses: Sage-Bionetworks/sceptre-action@v1.1
        with:
          sceptre_version: 2.4.0
          sceptre_directory: sceptre/nlpsandbox
          sceptre_subcommand: launch --yes common
      - name: Deploy prod configuration
        uses: Sage-Bionetworks/sceptre-action@v1.1
        with:
          sceptre_version: 2.4.0
          sceptre_directory: sceptre/nlpsandbox
          sceptre_subcommand: launch --yes prod
